h1 {
    color: red;
}

/*
#animation-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    width: 20rem;
    height: 20rem;
  
}
*/

#bar {
  width: 100px;
  height: 100px;
  background: blue;
  position: relative;
  animation-name: loading;
  animation-duration: 3s;  
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes loading {
    from {left: 0px; background-color: blue;}
    to {left: 100px; background-color: red;}
   }
 
/*
#waiting {  
    background: blue;
}
*/




  


#circle {
    animation-iteration-count: infinite;
}

 /* 
#loading {
    background: purple;
} 
*/