h1 {
    color: red;
}

#animation-container {
    position: absolute;
    width: 20rem;
    height: 20rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    animation-name: loading;
    animation-duration: 3s;  
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#bar {
  background: blue;
}

@keyframes loading {
    from {left: 0px; background-color: blue;}
    to {left: 100px; background-color: red;}
   }
 
/*
#waiting {  
    background: blue;
}
*/




  


#circle {
    animation-iteration-count: infinite;
}

@keyframes waiting {
from {top: 0px; background-color: darkred;} 
to {top: 50px; background-color: darkslategray;}

}

 /* 
#loading {
    background: purple;
} 
*/