h1 {
    color: red;
}

#animation-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

    width: 20rem;
    height: 20rem;
  
}

#waiting {  
    background: blue;
}



@keyframes loading {
   from {left: 0px; background-color: blue;}
   to {left: 100px; background-color: red;}
  }
  
 /* 
#loading {
    background: purple;
} 
*/

#bar {
    animation-fill-mode: forwards;
    animation-duration: 3s;
}

#circle {
    animation-iteration-count: infinite;
}